/Neo4J.log
/batch.properties
/Stack Exchange Data Dump - Sept 2011/Content/stackoverflow.com.7z.001
/Stack Exchange Data Dump - Sept 2011/Content/stackoverflow.com.7z.002
/Stack Exchange Data Dump - Sept 2011/Content/stackoverflow.com.7z.003
/Stack Exchange Data Dump - Sept 2011/Content/stackoverflow.com.7z.004
/Stack Exchange Data Dump - Sept 2011/Content/stackoverflow.com.7z.005
/Stack Exchange Data Dump - Sept 2011/Content/stackoverflow.com.7z.006
*.csv
*.7z
*.xml
*.txt
092011*
*~
NativeNeo4J
Neo4J

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
